/COLOR_TRAIN
/predict_288epoohs
/result
/result_288epochs
/sample1000
/sample_total_41893
/train
/train_cropped
/test sample
/valid
/valid_cropped
/[라벨]상표이미지_train
/[라벨]상표이미지_valid
/[원천]상표이미지_train
/[원천]상표이미지_valid
